.landing_view {
    width: 100%;
    height: 100vh;
    /* background-image: url("../../assets/bg/de.png"); */
    background-color: black;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
  
  .crt {
    background-image: url("../../assets/rsc/crt land 1.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
  
  @keyframes scaleFront {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  @keyframes scaleMiddle {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
  
  @keyframes scaleBack {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
  }
  
  .animate-scale-front {
    animation: scaleFront 3s ease-in-out infinite;
  }
  
  /* .animate-scale-middle {
    animation: scaleMiddle 3s ease-in-out infinite;
  } */
  
  /* .animate-scale-back {
    animation: scaleBack 3s ease-in-out infinite;
  } */
  
  /* @media screen and (max-width: 730px) {
    .svg_logo {
      max-width: 90%;
      margin-left: 5%;
    }
  } */